{% extends "base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4 pt-2">Welcome to Social Distribution!</h1>
        <p class="lead">
            Place holder message here I dunno what to write right now
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-dark" href="logout" role="button">Logout</a>
            <a class="btn btn-dark" href="login" role="button">Sign in</a>
        </p>
    </div>

{% endblock content %}