{% extends "base.html" %}
{% block title %} Friends Page {% endblock title%}
{% block content %}
<br/>
<div class="jumbotron text-center">
    <h1 class="display-4 pt-2">Friends</h1>
    <p class="lead">
        List of all your friends
    </p>
    <hr class="my-4">
</div>
{% if profiles %}
    <br/>
    <div class="card-group">
    {% for profile in profiles %}
        <div class="card p-3 m-3" style="min-width: 18rem; max-width: 18rem;">
            <img class="card-img-top" src="{{profile.avatar.url}}">
            <div class="card-body">
              <h5 class="card-title">{{profile}}</h5>
              <p class="card-text">{{profile.bio}}</p>
              <a href="{% url 'profile_detail' profile.user.id %}" class="btn btn-secondary">Visit Profile</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No Friends :(</p>
{% endif %}
{% endblock content %}