{% extends "base.html" %}

{% load social_extra %}

{% block title %} Stream {% endblock title%}
{% block content %}


    <div class="container text-center">
        <div class="row">
            <div class="col-8">

    <div class="jumbotron">
        <h1 class="display-4 pt-2">Welcome to Social Distribution!</h1>
        <p class="lead">
            This is the stream page 
        </p>
        <hr class="my-4">
    </div>

    <h2>Remote Posts</h2>

    {% for node, posts in nodes.items %}
        <h4>Remote Posts on {{ node.name }}</h4>
        {% if posts %}
            {% for post in posts %}
                <div class="alert alert-light" role="alert">
                    <div class="position-absolute top-0 end-0">
                        <form>
                            {% csrf_token %}
                            <a href="{% url 'view_remote_post' node=node.name remote_post=post.id %}" class="btn btn-success btn-outline-primary">View</a>
                        </form>
                    </div>
                    <small class="text-muted">
                        {{ post.author.displayName }} ({{ post.published }})<br/>
                    </small>
                    <strong>{{ post.title }}</strong><br/>
                    {% if post.contentType == "markdown" %}
                    {{ post.description | convert_markdown | safe}}
                    {% else %}
                    {{ post.description }}
                    {% endif %}
                    <br/>
                    {% for id, image in images.items %}
                        {% if id == post.id %}
                        <div class="row my-3 p-3">
                            <img class="img-fluid" src="{{ image }} " style="cursor: pointer;" width="200" height="200"/>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <br/>
                    {% if post.author.id == request.user.profile.id %}
                    <a class="btn btn-primary text-decoration-none">Edit</a>
                    <a class="btn btn-danger text-decoration-none">Delete</a>
                    {% endif %}
                </div><br/>
            {% endfor %}
        {% else %}
            <p>No posts are available in this node.</p>
        {% endif %}
    {% endfor %}
    <br/>

    <h2>Local Posts</h2>

    {% for post in posts %}

        <div class="alert alert-light" role="alert">
            <div class="position-absolute top-0 end-0">
                <form>
                    {% csrf_token %}
                    <a href="{% url 'view_post' post.id %}" class="btn btn-success btn-outline-primary">View</a>
                </form>
            </div>
            <small class="text-muted">
                {{ post.author }} ({{ post.published }})<br/>
            </small>
            <strong>{{ post.title }}</strong><br/>
            {% if post.contentType == "markdown" %}
            {{ post.description | convert_markdown | safe}}
            {% else %}
            {{ post.description }}
            {% endif %}
            <br/>
            {% if post.image_file %}
            <div class="row my-3 p-3">
                <img class="img-fluid" src="{{ post.image_file.url }} " style="cursor: pointer;" width="200" height="200"/>
            </div>
            {% elif post.image_url %}
            <div class="row my-3 p-3">
                <img class="img-fluid" src="{{ post.image_url }} " style="cursor: pointer;" width="200" height="200"/>
            </div>
            {% endif %}
            <br/>
            {% if post.author.id == request.user.profile.id %}
            <a href="{% url 'edit_post' post.id %}" class="btn btn-primary text-decoration-none">Edit</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger text-decoration-none">Delete</a>
            {% endif %}
        </div><br/>

    {% endfor %}

    </div>

    <div class="col-4">
        <br/><br/><br/>
        {% if form %}
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" name="post" value="create_post" class="btn btn-secondary">Post</button>
          </form>
        {% endif %}
    </div>

{% endblock content %}