{% extends "base.html" %}
{% block title %} Update Post {% endblock title%}
{% block content %}
    <div class="container text-center">

    <div class="jumbotron">
        <h1 class="display-4 pt-2">Editing Post</h1>
        <hr class="my-4">
    </div>

    <form method=POST enctype="multipart/form-data">
        {% if post.image_file %}
        <div class="row my-3 p-3">
            <img class="img-fluid" src="{{ post.image_file.url }} " style="cursor: pointer;" width="200" height="200"/>
        </div>
        {% elif post.image_url %}
        <div class="row my-3 p-3">
            <img class="img-fluid" src="{{ post.image_url }} " style="cursor: pointer;" width="200" height="200"/>
        </div>
        {% endif %}

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-secondary">Post</button>
    </form>
{% endblock content %}
