{% extends "base.html" %}
{% load social_extra %}


{% block title %} View Post {% endblock title%}
{% block content %}
    <div class="container text-center">

    <div class="jumbotron">
        <h1 class="display-4 pt-2">View Post</h1>
        <hr class="my-4">
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-10">

        <h3>Post Details</h3>
        <div class="alert alert-light" role="alert">
            <div class="position-absolute top-0 end-0">
                <small class="text-muted">
                    Likes: {{likes}} <br/>
                    Comments: {{commentCount}}
                </small>
            </div>
            <small class="text-muted">
                {{ post.author }} ({{ post.published }})<br/>
            </small>
            <strong>{{ post.title }}</strong><br/>
            {% if post.contentType == "markdown" %}
            {{ post.description | convert_markdown | safe}}
            {% else %}
            {{ post.description }}
            {% endif %}
            <br/>

            {% if post.image_file %}
            <div class="row my-3 p-3">
                <img class="img-fluid" src="{{ post.image_file.url }} " style="cursor: pointer;" width="200" height="200"/>
            </div>
            {% elif post.image_url %}
            <div class="row my-3 p-3">
                <img class="img-fluid" src="{{ post.image_url }} " style="cursor: pointer;" width="200" height="200"/>
            </div>
            {% endif %}

        </div><br/>

        <form method=POST>
            
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="action" value="unlike" class="btn btn-danger">Unlike</button>
            {% else %}
            <button type="submit" name="action" value="like" class="btn btn-success btn-outline-primary">Like</button>
            {% endif %}
            <br/><br/>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" value="comment" class="btn btn-secondary">Comment</button>
        </form>
        <br/><br/>
        <div class="jumbotron">
            <h6 class="display-6 pt-2">Comments</h6>
            <hr class="my-4">
        </div>

        {% if commentsInfo %}
            {% for info in commentsInfo %}
                <div class="alert alert-light" role="alert">
                    <div class="position-absolute top-0 end-0">
                        <small class="text-muted">
                            Likes: {{ info.1 }} <br/>
                        </small>
                    </div>
                    <small class="text-muted">
                        {{ info.0.author }} ({{ info.0.published }})<br/>
                    </small>

                    {% if info.0.contentType == "markdown" %}
                    {{ info.0.content | convert_markdown | safe}}
                    {% else %}
                    {{ info.0.content }}
                    {% endif %}

                    <div class="position-absolute top-0 begin-0">
                        <form method=POST>
                            {% csrf_token %}
                            {% if info.2 %}
                            <button type="submit" name="action" value="unlike,{{info.3}}" class="btn btn-danger">Unlike</button>
                            {% else %}
                            <button type="submit" name="action" value="like,{{info.3}}" class="btn btn-success btn-outline-primary">Like</button>
                            {% endif %}
                        </form>
                    </div>

                    <br/>
                </div><br/>
            {% endfor %}
        {% else %}
        <p>No Comments :(</p>
        {% endif %}

    </div>

    <div class="col-2">

        <h3>Share To</h3>
        <div>
            {% if post.unlisted %}
            <a href="{% url 'view_post' post.id %}" target="_blank">Copy this link to share to your friends!</a>
            {% endif %}
            <h5>Local Friends</h5>
            {% if friends %}
                {% for friend in friends %}
                    {% if post.author != friend %}
                    <div class="alert alert-light" role="alert">
                        <strong>
                            <a href="{% url 'profile_detail' friend.user.id %}" class="link-primary">{{ friend.user.username }}</a>
                        </strong></br>
                        <form method="POST">
                            {% csrf_token %}
                            <a href="{% url 'share_post' post_id=post.id friend_id=friend.user.id %}" class="btn btn-primary text-decoration-none">Share</a>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <p>No Local Friend to share to</p>
            {% endif %}
        </div>

        <h5>Remote Friends</h5>
        <div>
            {% if friends_remote %}
                {% for friend in friends_remote %}
                    {% if post.author != friend %}
                    <div class="alert alert-light" role="alert">
                        <strong>
                            {{ friend.displayName }}
                        </strong></br>
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" name="action" value="share,{{friend.id}}" class="btn btn-primary text-decoration-none">Share</button>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <p>No remote friend to share to</p>
            {% endif %}
        </div>


    </div>

{% endblock content %}