{% extends "base.html" %}
{% block title %} View Post {% endblock title%}
{% block content %}
    <div class="container text-center">

    <div class="jumbotron">
        <h1 class="display-4 pt-2">View Post</h1>
        <hr class="my-4">
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-10">

        <h3>Post Details</h3>
        <div class="alert alert-light" role="alert">
            <div class="position-absolute top-0 end-0">
                <small class="text-muted">
                    Likes: {{likes}} <br/>
                    Comments: {{commentCount}}
                </small>
            </div>
            <small class="text-muted">
                {{ post.author }} ({{ post.published }})<br/>
            </small>
            <strong>{{ post.title }}</strong><br/>
            {{ post.description }}
        </div><br/>

        <form method=POST>
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="action" value="unlike" class="btn btn-danger">Unlike</button>
            {% else %}
            <button type="submit" name="action" value="like" class="btn btn-success btn-outline-primary">Like</button>
            {% endif %}
            <br/><br/>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" value="comment" class="btn btn-secondary">Comment</button>
        </form>
        <br/><br/>
        <div class="jumbotron">
            <h6 class="display-6 pt-2">Comments</h6>
            <hr class="my-4">
        </div>

        {% if comments %}
            {% for comment in comments %}
                <div class="alert alert-light" role="alert">
                    <small class="text-muted">
                        {{ comment.author }} ({{ comment.published }})<br/>
                    </small>
                    <strong>{{ comment.content }}</strong><br/>
                    <br/>
                </div><br/>
            {% endfor %}
        {% else %}
        <p>No Comments :(</p>
        {% endif %}

    </div>

    <div class="col-2">

        <h3>Share To</h3>
        
        {% if friends %}
            {% for friend in friends %}
            
            <div class="alert alert-light" role="alert">
                <strong>
                    <a href="{% url 'profile_detail' friend.user.id %}" class="link-primary">{{ friend.user.username }}</a>
                </strong></br>
                <form method="POST">
                    {% csrf_token %}
                    <a href="{% url 'share_post' post_id=post.id friend_id=friend.user.id %}" class="btn btn-primary text-decoration-none">Share</a>
                </form>
            </div>
            
            {% endfor %}
        {% else %}
        <p>No one to share to</p>
        {% endif %}

    </div>

{% endblock content %}